i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 6.0em;
}

#delete {
    display: inline;
}

span {
    font-size: 0.8em;
}

i.chevron {
    font-size: 1em;
}

body {
    background-image: url("../background-opacity.png");
    background-size: cover;
}

.ui.top.attached.segment, .ui.main.text.container.segment {
    background-color: rgba(245,222,179,0.8);
}